@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin textLink($reg, $hover) {
  a {
    text-decoration: none;

    &:link, &:visited { color: $reg; }
    &:hover { color: $hover; }
  }
}

@mixin responsive($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}