lyme-nationwide {
	width: 100%;
	margin-top: 80px;
	text-align: center;

	lyme-radial-chart {
		width: 100%;

		.axis path,
		.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}

		.x.axis path {
			display: none;
		}

		path.country:hover {
			fill-opacity: 0.6;
		}

		.legend {
			fill: none;
			stroke: none;
			font-size: 2.4em;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: normal;

			.header {
				fill: $dark;
			}

			.subhead {
				font-size: 0.7em;
				fill: $dark;
			}

			.desc {
				font-size: 0.6em;
				fill: $dark;
			}
		}
	}

	.arrow-down {
		width: 0; 
		height: 0; 
		border-left: 36px solid transparent;
		border-right: 36px solid transparent;
		border-top: 36px solid $dark;
		opacity: 0.6;
		position: absolute;
		right: 6%;
	}

	h2 {
		font-size: 2.4em;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: normal;
		color: $dark;

		span { color: $lightBlue; }
	}

	lyme-area-chart {
		width: 80%;
		margin: 0 auto 40px;
	}
}